target/

#git
.git/
.gitignore
.gitattributes

#ide
.idea
*.iml

#maven
.mvn/
mvnw
mvnw.cmd

#docker files
Dockerfile
.dockerignore
docker-compose*.yaml
compose.yaml


*.log
.DS_Store

.env
.env.example