# Used by docker compose (compose.yaml) for the local Postgres container
POSTGRES_DB=user_service_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Used by the Spring Boot app itself (application.yaml)
DB_URL=jdbc:postgresql://localhost:5432/user_service_db
DB_USERNAME=postgres
DB_PASSWORD=postgres